.dashboard-container {
  display: flex;
  height: calc(100vh - 60px); /* Adjusting height to account for header */
  background-color: #f9f9f9;
  margin-top: 60px; /* Adjust this value to ensure it's not under the header */
}

.sidebar {
  width: 250px;
  background-color: #2d3e50;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: fixed; /* Make the sidebar fixed */
  top: 60px; /* Adjust this value to match the height of your header */
  bottom: 0;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sidebar-header h2 {
  margin-top: 10px;
}

.sidebar-nav {
  flex-grow: 1;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-nav ul li:hover,
.sidebar-nav ul li.active {
  background-color: #1a252f;
}

.sidebar-nav ul li svg {
  margin-right: 10px;
}

.main-content {
  margin-left: 260px; /* Adjust margin to account for the sidebar width */
  flex-grow: 1;
  padding: 20px;
  margin-top: 60px; /* Adjust this value to ensure it's not under the header */
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.dashboard-header h2 {
  margin-top: 10px;
  color: #4caf50;
}
.dashboard-headerMain {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
  position: relative;
}

.edit-button {
  background-color: #2d3e50;
  width: 8%;
  height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.edit-button:hover {
  background-color: grey;
  color: black;
}

.dashboard-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -340px;
}
.dashboard-MainCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth effect */
}

.dashboard-MainCard:hover {
  transform: translateY(-5px); /* Moves the card up slightly */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increases shadow for a "lifted" effect */
}

.dashboard-InfoCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 70%;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth effect */
}

.dashboard-InfoCard:hover {
  transform: translateY(-5px); /* Moves the card up slightly */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increases shadow for a "lifted" effect */
}

.detail-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.detail-item span,
.detail-item input {
  margin-left: 10px;
  color: #333;
  width: 100%;
  border: none;
  background: none;
}

.detail-item input {
  border-bottom: 1px solid #ddd;
}

.save-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}
/* Dashboard.css */
.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  z-index: 9999; /* Make sure it is on top */
}
