.lawyers-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 50px;
}

.title {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 3rem;
  margin-bottom: 10px;
}

.card {
  width: calc(120% + 80px); /* Increase the width by 60px (30px on each side) */
  max-width: calc(120% + 80px); /* Ensure the max-width is also increased */
  height: auto;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-left: -30px; /* Move the card 30px to the left */
  margin-right: -30px; /* Move the card 30px to the right */
}


.signup-Card {
  margin-top: 150px;
  width: 40%;
  max-width: auto;
  height: auto;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-Card:hover {
  border-color: #aaa;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.searchLawyer-title {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 2rem;
  margin-top: 80px;
}

.searchTopRatedLawyers-Section {
  margin-top: 5%;
  width: 100%;
}

.lawyerDetailCard {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.lawyerDetailCard:hover {
  border-color: #aaa;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.lawyerDetailCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topRatedLawyersCard-Section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ececec;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  margin-top: 3%;
  border-radius: 15px;
}

.lawyerForYou-title {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-top: 2%;
}
/* LawyersPersonalDetails.css */

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust based on your animation size */
  width: 500px;  /* Adjust based on your animation size */
  margin: 0 auto; /* Center horizontally */
  margin-top: 20px; /* Optional: Add margin for better spacing */
}