.lawyers-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-weight: bold;
  text-align: center;
  color: black;
}

.card {
  width: 80%;
  max-width: "auto";
  height: "auto";
  border-radius: 15px;
  border: 1px solid #ddd; /* Lighter border color */
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease; /* Add transition for smooth animation */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow */
}

.card:hover {
  border-color: #aaa; /* Darker border color on hover */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .card {
    width: 70%;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
}

/* For large desktop: */
@media only screen and (min-width: 1200px) {
  .card {
    width: 30%;
  }
}
