* {
    box-sizing: border-box;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure the image takes full width */
  }
  
  .background-image {
    width: 100%;
    height: 90vh; /* Make the image cover the full viewport height */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .search-bar-on-image {
    position: absolute;
    bottom: 120px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Light background to enhance readability */
    padding: 10px;
    border-radius: 5px;
  }
  
  .search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-input + .search-input {
    border-radius: 0;
    border-left: none;
  }
  
  .search-bar-on-image button {
    padding: 10px;
    background-color: #15b041;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
  }
  
  .search-bar-on-image button:hover {
    background-color: #ff3300;
  }
  